src/META-INF/wsdl/localhost_8080/GuiaSOAPServer/Guia.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Guia">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/GuiaSOAPServer/Guia?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Calculos">
<part name="parameters" element="tns:Calculos"/>
</message>
<message name="CalculosResponse">
<part name="parameters" element="tns:CalculosResponse"/>
</message>
<message name="Operaciones">
<part name="parameters" element="tns:Operaciones"/>
</message>
<message name="OperacionesResponse">
<part name="parameters" element="tns:OperacionesResponse"/>
</message>
<message name="ProcesarPago">
<part name="parameters" element="tns:ProcesarPago"/>
</message>
<message name="ProcesarPagoResponse">
<part name="parameters" element="tns:ProcesarPagoResponse"/>
</message>
<portType name="Guia">
<operation name="Login">
<input wsam:Action="http://sv/Guia/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sv/Guia/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Calculos">
<input wsam:Action="http://sv/Guia/CalculosRequest" message="tns:Calculos"/>
<output wsam:Action="http://sv/Guia/CalculosResponse" message="tns:CalculosResponse"/>
</operation>
<operation name="Operaciones">
<input wsam:Action="http://sv/Guia/OperacionesRequest" message="tns:Operaciones"/>
<output wsam:Action="http://sv/Guia/OperacionesResponse" message="tns:OperacionesResponse"/>
</operation>
<operation name="ProcesarPago">
<input wsam:Action="http://sv/Guia/ProcesarPagoRequest" message="tns:ProcesarPago"/>
<output wsam:Action="http://sv/Guia/ProcesarPagoResponse" message="tns:ProcesarPagoResponse"/>
</operation>
</portType>
<binding name="GuiaPortBinding" type="tns:Guia">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Calculos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Operaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Guia">
<port name="GuiaPort" binding="tns:GuiaPortBinding">
<soap:address location="http://localhost:8080/GuiaSOAPServer/Guia"/>
</port>
</service>
</definitions>