src/META-INF/wsdl/localhost_8080/GuiaSOAPServer/Guia.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sv/">

<xs:element name="Calculos" type="tns:Calculos"/>

<xs:element name="CalculosResponse" type="tns:CalculosResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="Operaciones" type="tns:Operaciones"/>

<xs:element name="OperacionesResponse" type="tns:OperacionesResponse"/>

<xs:element name="ProcesarPago" type="tns:ProcesarPago"/>

<xs:element name="ProcesarPagoResponse" type="tns:ProcesarPagoResponse"/>

<xs:complexType name="ProcesarPago">
<xs:sequence>
<xs:element name="total" type="xs:double"/>
<xs:element name="retiro" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProcesarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Calculos">
<xs:sequence>
<xs:element name="lado1" type="xs:double"/>
<xs:element name="caso" type="xs:string" minOccurs="0"/>
<xs:element name="lado2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Operaciones">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="operacion" type="xs:string" minOccurs="0"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OperacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>